/* background colors */
$bgColorMain: #0c1323;
$bgColorUserContainer: #1d204b;
$bgColorInfoContainer: #5745ea;
$bgColorTimeContainer: #ff8b64;
$bgColorPlayContainer: #56c2e6;
$bgColorStudyContainer: #fe5f7d;
$bgColorExerciseContainer: #4dd083;
$bgColorSocialContainer: #7335d2;
$bgColorSelfCareContainer: #f0c75a;
$bgColorHoverTimeContainer: #606492;

/* font colors */
$fontColorH2: #ffffff;
$fontColorH3: #696eb3;
$fontColorP: #ffffff;

body {
  font-family: "Rubik", sans-serif;
  background-color: $bgColorMain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;

  .user-container {
    background-color: $bgColorUserContainer;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87%;
    height: 200px;
    border-radius: 25px;

    .info-container {
      background-color: $bgColorInfoContainer;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 18px;
      width: 100%;
      height: 70%;
      border-radius: 25px;

      .round-container {
        border: 3px solid #ffffff;
        border-radius: 100%;
        margin-left: 25px;

        img {
          vertical-align: middle;
          width: 70px;
          height: 70px;
        }
      }

      .user-title-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 500%;
        gap: 5px;

        p {
          font-size: 20px;
          letter-spacing: 1px;
          opacity: 0.6;
          color: $fontColorP;
          font-weight: lighter;
        }

        h2 {
          font-size: 24px;
          letter-spacing: 1px;
          color: $fontColorH2;
          font-weight: lighter;
        }
      }
    }

    .options-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-top: 20px;

      h3 {
        color: $fontColorH3;

        &:hover {
          color: #ffffff;
        }

        &:focus {
          color: #ffffff;
        }
      }
    }
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;

    .time-container {
      background-color: $bgColorTimeContainer;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 87%;
      height: 200px;
      border-radius: 25px;

      .image-container {
        display: flex;
        justify-content: flex-end;
        height: 25%;
        margin-right: 20px;

        img {
          width: 85px;
          height: 85px;
        }
      }

      .general-info-container {
        position: relative;
        background-color: $bgColorUserContainer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75%;
        border-radius: 25px;

        &:hover {
          background-color: $bgColorHoverTimeContainer;
        }

        .top-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%;

          h3 {
            font-size: 25px;
            margin-top: 12px;
          }

          a {
            color: #ffffff;
            opacity: 0.6;
            font-size: 40px;
            height: 60px;

            &:hover {
              opacity: 1;
            }

            &:focus {
              opacity: 1;
            }
          }
        }

        .lower-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%;

          h1 {
            font-size: 40px;
            font-weight: lighter;
          }

          p {
            opacity: 0.6;
            font-size: 15px;
          }
        }
      }
    }
    .work-container {
      background-color: $bgColorTimeContainer;
    }

    .play-container {
      background-color: $bgColorPlayContainer;
    }

    .study-container {
      background-color: $bgColorStudyContainer;
    }

    .exercise-container {
      background-color: $bgColorExerciseContainer;
    }

    .social-container {
      background-color: $bgColorSocialContainer;
    }

    .selfcare-container {
      background-color: $bgColorSelfCareContainer;
    }
  }

  /* Dev Test*/
  h3,
  h2,
  h1,
  p {
    color: #ffffff;
  }
}
